@{
    ViewData["Title"] = "Customers Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<h2>Customers</h2>

<div id="grid"></div>     

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "/Customer/GetCustomerData",
                            dataType: "json"
                        }
                    },
                    pageSize: 10
                },
                height: 400,
                pageable: true,
                sortable: true,
                columns: [
                    { field: "CId", title: "Customer ID" },
                    { field: "CLast", title: "Last Name" },
                    { field: "CFirst", title: "First Name" },
                    { field: "CMi", title: "CMi" },
                    { field: "CBirthdate", title: "Birth Date" },
                    { field: "CAddress", title: "Address" },
                    { field: "CCity", title: "City" },
                    { field: "CState", title: "State" },
                    { field: "CZip", title: "Zip Code" },
                    { field: "CDphone", title: "Phone Number1" },
                    { field: "CEphone", title: "Phone Number2" },
                    { field: "CUserid", title: "User Id" },                    
                ]
            });
        });
    </script>
}
